/* GLVK */

:root {
    --theme-color: #e9ca42;
    --base-font-size: 16px;
}

.glvk-func-tag {
    color: #ff6363;
    padding: 2px 5px;
    border-radius: 4px;
}

.glvk-def-tag {
    color: #46be5ab0;
    padding: 2px 5px;
    border-radius: 4px;
}

.glvk-var-tag {
    color: #6373ff;
    padding: 2px 5px;
    border-radius: 4px;
}

/* 폰트 */

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

.markdown-section {
    font-family: 'Paperozi', sans-serif;
}

/*제목 사이즈 */
.app-name-link {
    font-weight: 800;
}

/* 본문 */
.markdown-section {
    max-width: 900px;
}

/* 제목 */
.markdown-section h1 {
    font-size: 2.2rem;
    font-weight: 750;
}

.markdown-section h2 {
    margin-top: 2.5rem;
    font-size: 1.6rem;
}

/* 코드 */
.markdown-section pre {
    border-radius: 12px;
    padding: 20px;
}

/* 인라인 코드 */
.markdown-section code {
    border-radius: 6px;
    padding: 2px 5px;
}

/* 사이드바 */
.sidebar {
    padding-top: 20px;
}

.sidebar-nav > ul > li > p {
    font-weight: 700;
}

/* Navbar */
.app-nav {
    padding-right: 30px;
}